# .clang-format
Language: Cpp
BasedOnStyle: Google
ColumnLimit: 120
IndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: -4
BreakBeforeBraces: Allman
SortIncludes: true
IncludeBlocks: Merge
AlignAfterOpenBracket: AlwaysBreak
#PenaltyBreakBeforeFirstCallParameter: 0
#AlwaysBreakAfterReturnType: None
BinPackParameters: false
BinPackArguments: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Left
